table, th, td {
  border: 1px solid black;
}
.responsive {
  width: 50%;
  height: auto;
}
#list {
	color: blue;
}
p{
	background-color: LightGray
}
body{
	border:2px solid Tomato;
@media only screen and (max-width: 600px) {
  body {
    background-color: lightgreen;
  }
}